
.imgSize{
   max-height: 100%;
   max-width: 100%;
}

.titleIndex{
  margin-top: 50px;
  font-size: 2rem;
  font-family: "Arial Black" ;
  &__description{

  }
}

/* id element page index */

#titreProduit{
  font-size: 2rem;
  color: black;
  margin: 0;
  text-align: center;
}

#paraProduit{
  margin: 0;
  color: black;
  text-align: center;
}



#containerpoduit{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 90%;
  margin-bottom: 50px;
  margin-top: 50px;
}

#divProduit{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  //height: 200px;
}

#prix {
  text-align: center;
  font-size: 1.5rem;
  //height: 200px;
}

#divPrix{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
}

#containerLink{
  background-color: #E9F3EB;
  border: 2px solid black;
}