.imagePanier{
  width: 130px;
}

.borderTd{
  text-align: center;
}

.lastTh:nth-last-child{
  background-color: white;
}

// Formulaire

.good{
  border: 2px solid lightgreen !important;
}

.error{
  border: 2px solid red !important;
}

.displayOnlyValidate{
  display: none;
}

.displayOnlyNoBasket{
  display: none;
}
