.imagePanier{
  width: 130px;
}

table tr th{
  border: black 1px solid;
}

.borderTd{
  border: black 1px solid;
  text-align: center;
}

.lastTh:nth-last-child{
  background-color: white;
}

// Formulaire

.good{
  border: 2px solid lightgreen !important;
}

.error{
  border: 2px solid red !important;
}